[class*='column-'] > p {
    font-size: 1.4em;
    margin: 0 0 0.5em !important;
    padding: 25px 0 0 0;
}
[class*='column-'] > span {
    color: #d8d1c2;
    font-family: "Baskerville", Arial, serif;
    font-size: 0.85em;
    line-height: 1.5em;
    text-transform: uppercase;
}

.gmnoprint img { max-width: none; }
img[src*="gstatic.com/"], img[src*="googleapis.com/"] { max-width: none; }
#map_canvas { line-height:normal; }

.all-caps {
	text-transform: uppercase;
}

.post-185 > .entry-content,
.post-57 > .entry-content {
	padding: 1.5em 0 0 0;
}

.bfpl-form {
	color: #767d8b;
	font-family: "Brothers", Arial, serif;
	margin: 0 auto;
	position: relative;
	width: 100%;
}

#map-canvas {
	margin-left: 1px;
}

.cust-featured-image {
	line-height: 0;
}

#product-locator input[type="text"],
#product-locator input[type="number"],
#product-locator input[type="email"],
#product-locator select,
#product-locator textarea,
#product-locator button[type="submit"] {
	font-family: Helvetica, Arial, Lucida, sans-serif;
	font-size: 1.0em;
}

#product-locator {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	padding:1px;
}

#product-locator h3 {
	color:#af5d1f;
	display:block;
	font-size:2.0em;
	line-height: 32px !important;
}

#product-locator h4 {
	display:block;
	font-size:13px;
	margin:5px 0 15px;
}

#product-locator label span {
	color:#575756;
	cursor:pointer;
	display:block;
	font-weight:500;
	margin: 20px 0 5px 0;
}

.pl-select {
	height: 44px;
}

#product-locator select {
	-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
	background: transparent;
	background:
	    linear-gradient(45deg, transparent 50%, gray 50%),
	    linear-gradient(135deg, gray 50%, transparent 50%),
	    linear-gradient(to right, #ccc, #ccc);
	background-position:
	    calc(100% - 20px) calc(1em + 2px),
	    calc(100% - 15px) calc(1em + 2px),
	    calc(100% - 2.5em) 0.5em;
	background-size:
	    5px 5px,
	    5px 5px,
	    1px 1.5em;
	background-repeat: no-repeat;
}

#product-locator select:focus {
	background:
	    linear-gradient(45deg, gray 50%, transparent 50%),
	    linear-gradient(135deg, transparent 50%, gray 50%),
	    linear-gradient(to right, #ccc, #ccc);
	background-position:
	    calc(100% - 15px) 1em,
	    calc(100% - 20px) 1em,
	    calc(100% - 2.5em) 0.5em;
	background-size:
	    5px 5px,
	    5px 5px,
	    1px 1.5em;
	background-repeat: no-repeat;
	border-color: gray;
	outline: 0;
	border: 1px solid #AAA;
}

#product-locator input[type="text"],
#product-locator input[type="number"],
#product-locator input[type="email"],
#product-locator select,
#product-locator textarea {
	border-radius: 0px;
	box-sizing: border-box;
	display: inline-block;
	font-family: "Baskerville", Arial, serif;
	height: 44px;
    margin-bottom: 5px;
    max-width: 100%;
    padding-left: 15px;
    width: 100%;
}

#product-locator select {
	width:60%;
}

#product-locator select option {
	-moz-opacity:0.4;
	background-color: #FFF;
	color: #000;
	filter:alpha(opacity=40);
	opacity:0.4;
}

#product-locator input[type="text"] {
	width:60%;
}

#product-locator input[type="text"]:hover,
#product-locator input[type="number"]:hover,
#product-locator input[type="email"]:hover,
#product-locator select:hover,
#product-locator textarea:hover {
	-moz-transition:border-color 0.3s ease-in-out;
	-webkit-transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
	transition:border-color 0.3s ease-in-out;
}

#product-locator textarea {
	height:100px;
	max-width:100%;
}

.bfpl-submit {
	padding-bottom: 100px;
	padding-top: 35px;
	text-align: center;
}

#product-locator button[type="submit"] {
	background-color: ;
	border: none;
	cursor: hand;
	cursor: pointer;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 10px;
	padding: .5em 1em .5em 1.5em;
	text-decoration: none;
	text-transform: uppercase;
	width: 264px;
    height: 48px;
}

#product-locator input:focus,
#product-locator textarea:focus {
	border:1px solid #999;
	outline:0;
}

::-webkit-input-placeholder {
    color:#888;
}

:-moz-placeholder {
    color:#888;
}

::-moz-placeholder {
    color:#888;
}

:-ms-input-placeholder {
    color:#888;
}

.lbl_locationlist p {
	line-height: 1.2em;
}

.store:first-child,
.store:last-child {
	width: auto;
}

.store {
	width: auto;
}

.store > .store-name {
	font-family: "Brothers", Arial, serif;
	font-size: 1.4em;
	padding-top: 40px;
}

.store > .store-address,
.store > .store-city,
.store > .store-distance,
.store > .store-directions {
	color: #d8d1c2;
	font-family: Arial, serif;
	font-size: 1.0em;
	padding-top: 20px;
}

.newline {
	padding-bottom: 25px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	.location-list {
		padding: 70px;
	}

    .bfpl-form{
        max-width: 100%;
        width: 320px;
    }

    #product-locator h3 {
		font-size: 1.1em;
	}

    #product-locator select {
		width:100%;
	}

	#product-locator input[type="text"] {
		width:100%;
	}

	#map-canvas {
		margin-left: -20px;
	}

	.store:first-child,
	.store:last-child,
	.store {
		background-size: 100%;
	}

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

    .bfpl-form{
        width: 650px;
        max-width: 100%;
    }

    #product-locator select {
		width:100%;
	}

	#product-locator input[type="text"] {
		width:100%;
	}

	#map-canvas {
		margin-left: -20px;
	}

	.store:first-child,
	.store:last-child,
	.store {
		background-size: 100%;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    .bfpl-form{
        max-width: 100%;
        width: 480px;
    }

    #product-locator select {
		width:100%;
	}

	#product-locator input[type="text"] {
		width:100%;
	}

	#map-canvas {
		margin-left: -20px;
	}

	.store:first-child,
	.store:last-child,
	.store {
		background-size: 100%;
	}

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    .bfpl-form{
        width: 100%;
    }

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

    .bfpl-form{
        width: 100%;
    }

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

    .bfpl-form{
        width: 100%;
    }

}

/* iPads 3/4 (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */

    .bfpl-form{
        width: 100%;
    }

}

/* iPads 3/4 (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */

    .bfpl-form{
        width: 100%;
    }

}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

    .bfpl-form{
        width: 100%;
    }

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {

    .bfpl-form{
        width: 100%;
    }

}