$black: #000;
$white: #fff;
$text-color: $black;

.bfcf-form {
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding: 15px;
	//color: #767d8b;
}

#contact-form select {
	background: transparent;
	background:
	    linear-gradient(45deg, transparent 50%, gray 50%),
	    linear-gradient(135deg, gray 50%, transparent 50%),
	    linear-gradient(to right, #ccc, #ccc);
	background-position:
	    calc(100% - 20px) calc(1em + 2px),
	    calc(100% - 15px) calc(1em + 2px),
	    calc(100% - 2.5em) 0.5em;
	background-size:
	    5px 5px,
	    5px 5px,
	    1px 1.5em;
	background-repeat: no-repeat;
}

#contact-form select:focus {
	background:
	    linear-gradient(45deg, gray 50%, transparent 50%),
	    linear-gradient(135deg, transparent 50%, gray 50%),
	    linear-gradient(to right, #ccc, #ccc);
	background-position:
	    calc(100% - 15px) 1em,
	    calc(100% - 20px) 1em,
	    calc(100% - 2.5em) 0.5em;
	background-size:
	    5px 5px,
	    5px 5px,
	    1px 1.5em;
	background-repeat: no-repeat;
	border-color: gray;
	outline: 0;
}

#contact-form select option {
	filter:alpha(opacity=40);
	-moz-opacity:0.4;
	opacity:0.4;
	//background-color: #FFF;
	//color: #fff;
}

#contact-form input[type="text"],
#contact-form input[type="number"],
#contact-form input[type="email"],
#contact-form input[type="date"],
#contact-form select,
#contact-form textarea {
	color: $text-color;
	display: inline-block;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}

#contact-form textarea {
	height:100px;
	max-width:100%;
}

.bfcf-submit {
	text-align: center;
}

#contact-form button[type="submit"] {
	width: 264px;
    height: 48px;
	border: none;
	text-decoration: none;
	padding: .5em 1em .5em 1.5em;
	letter-spacing: 10px;
	text-transform: uppercase;
}

#contact-form input:focus,
#contact-form textarea:focus {
	outline:0;
	border:1px solid #999;
}

.grid-container {
	min-width: 0 !important;
	width: 100% !important;
	max-width: 820px !important;
}
.lda {
	width:33%;
	display: inline-block;
	margin:0;
	padding: 0 10px 0 0;
	float:left;
}
.lda input[type="text"] {
	padding:0 10px;
}
.lda:last-child {
	padding: 0;
}

#ajaxoutput {
	margin-bottom: 25px !important;
}