
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*.container {
	width : 820px;
    max-width : 1280px;
    margin: 0 auto;
}*/
.grid-container {
    width : 100%;
    max-width : 820px;
    min-width: 755px;
    margin: 0 auto;
    overflow: hidden;
}
.grid-pad {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 0px;
}
.push-right {
	float: right;
}
.row:before,
.row:after {
    content:"";
    display: table ;
    clear:both;
    /*-- our gutter --*/
    /*padding: 5px;*/
    /*background-color: #FFDCDC;*/
}
[class*='column-'] {
    float: left;
    min-height: 1px;
    width: 16.66%;
    padding-right: 10px;
}
[class*='column-']:last-of-type {
    padding-right: 0;
}

.column-1-1  { width: 100%; }
.column-2-3,
.column-8-12 { width: 66.66%; }
.column-1-2,
.column-6-12 { width: 50%; }
.column-1-3,
.column-4-12 { width: 33.33%; }
.column-1-4,
.column-3-12 { width: 25%; }
.column-1-5  { width: 20%; }
.column-1-6,
.column-2-12 { width: 16.667%; }
.column-1-7  { width: 14.28%; }
.column-1-8  { width: 12.5%; }
.column-1-9  { width: 11.1%; }
.column-1-10 { width: 10%; }
.column-1-11 { width: 9.09%; }
.column-1-12 { width: 8.33% }

/* Layout Columns */
.column-11-12 { width: 91.66% }
.column-10-12 { width: 83.333%; }
.column-9-12  { width: 75%; }
.column-5-12  { width: 41.66%; }
.column-7-12  { width: 58.33% }

.outline, .outline *{
    outline: 1px solid #F6A1A1;
}
.breakline {
	padding-bottom: 20px;
}

@media all and (max-width:800px){ }

@media handheld, only screen and (max-width: 767px) {
	.grid-container {
		width : 100%;
		max-width: 100%;
		min-width: 100%;
	}
	.grid-pad {
		padding-left: 0px;
	}
	.row .column-1-2:last-of-type {
        width: 100%;
        padding-right: 5px;
    }
	[class*='column-'] {
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		padding-left: 0px;
		padding-right: 5px;
	}
    .column-1-1,
	.column-2-3,
	.column-8-12,
	.column-1-2,
	.column-6-12,
	.column-1-3,
	.column-4-12,
	.column-1-4,
	.column-3-12,
	.column-1-5,
	.column-1-6,
	.column-2-12,
	.column-1-7,
	.column-1-8,
	.column-1-9,
	.column-1-10,
	.column-1-11,
	.column-1-12 { width: 100% }

	/* Layout Columns */
	.column-11-12,
	.column-10-12,
	.column-9-12,
	.column-5-12,
	.column-7-12  { width: 100% }
}